<% var isIndex = page.path === 'index.html' %>

<!doctype html>
<html lang="en">
    <%- partial('_partial/head') %>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <%- partial('_partial/header') %>

        <% if (!isIndex) { %>
        <div id="main" class="container sidebar-fix">
            <%- body %>
        </div>
        <% } else { %>
            <%- body %>
        <% } %>
</body>
</html>