<% var isIndex = page.path === 'index.html' %>

<!doctype html>
<html lang="en">
    <%- partial('_partials/_head', { homePage: isIndex }) %>
    <body class="ðŸ­ <%- isIndex ? 'home' : '' -%>">
        <%- partial('_partials/_header', { homePage: isIndex }) %>

        <% if (!isIndex) { %>
        <div id="main" class="container sidebar-fix">
            <%- body %>
        </div>
        <% } else { %>
            <%- body %>
        <% } %>

        <%- partial('_partials/_footer') %>
    </body>
</html>