<head>
    <meta charset="utf-8">
    <% var title = page.title; %>
    <title><% if (title){ %><%= title %> — <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Poco helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Poco">
    <meta property="og:url" content="https://getpoco.io/">
    <meta property="og:site_name" content="Poco">
    <meta property="og:description" content="Poco helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Poco">
    <meta name="twitter:description" content="Poco helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta name="twitter:site" content="Poco">

    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <% if (homePage) { %>
        <%- css('/assets/css/index') %>
        <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/assets/js/typewriter.js"></script>
        <script src="/assets/js/animate.js"></script>
    <% } else { %>
        <%- css('/assets/css/page') %>
    <% } %>
</head>
