<head>
    <meta charset="utf-8">
    <% var title = page.title; %>
    <title><% if (title){ %><%= title %> — <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Pocok helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pocok.io">
    <meta property="og:url" content="https://pocok.io/">
    <meta property="og:site_name" content="Pocok.io">
    <meta property="og:description" content="Pocok helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Pocok.io">
    <meta name="twitter:description" content="Pocok helps to organise and manage Docker, Docker-Compose, Kubernetes projects of any complexity using simple YAML config files to shorten the route from finding your project to initialising it in your local environment.">
    <meta name="twitter:site" content="Pocok.io">

    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <% if (homePage) { %>
        <%- css('/assets/css/index') %>
    <% } else { %>
        <%- css('/assets/css/page') %>
    <% } %>
</head>