<% var isIndex = page.path === 'index.html' %>

<!doctype html>
<html lang="en">
    <%- partial('_partials/_head', { homePage: isIndex }) %>
    <body class="ðŸ­ <%- isIndex ? 'home' : '' -%>">
        <%- partial('_partials/_header', { homePage: isIndex }) %>

        <% if (!isIndex) { %>
        <div id="main" class="container container--sidebar">
            <%- body %>
        </div>
        <% } else { %>
            <%- partial('_index/_hero') %>
            <%- partial('_index/_features') %>
        <% } %>

        <%- partial('_partials/_footer', { homePage: isIndex }) %>

        <% if (isIndex) { %>
            <script>
                $(function () {
                    var typewriter = new Typewriter($("#terminal"));
                    typewriter.setCaret("|");
                    typewriter.setCaretPeriod(500);
                    typewriter.setDelay(150, 50);

                    typewriter.setFinalCallback( function() {
                        $('#terminal').contents()
                            .filter(function() {
                                return this.nodeType == 3;
                            }).remove();
                        var textNode = typewriter._textNode = document.createTextNode("")
                        $('#terminal').prepend(textNode);
                        animate(typewriter);
                    });

                    animate(typewriter);
                });
            </script>
        <% } %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21745051-31"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-21745051-31');
        </script>
    </body>
</html>